/* =============
    Mixins
============= */
/* ---------------- Font Sizing ---------------- */
html {
  font-size: 100%;
}

/* ---------------- Media Queries ---------------- */
html {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0px;
}
body ul {
  margin: 0;
  padding: 0;
}
body ul li {
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
header > div {
  display: grid;
  grid-template-areas: "icons logo burger " "navg nav nav";
}
header > div #logo-container {
  padding-top: 11%;
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
header > div #burger-container {
  padding-top: 11%;
  grid-area: burger;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}
header > div #social-icons-container {
  z-index: 10;
  padding-top: 11%;
  grid-area: icons;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 5%;
  margin-bottom: 5%;
}
header > div #social-icons-container .fa-facebook-square {
  color: white;
  font-size: 30px;
}
header > div #social-icons-container .fa-twitter-square {
  color: white;
  font-size: 30px;
}
header > div #social-icons-container .fa-instagram-square {
  color: white;
  font-size: 30px;
}
header > div #nav-container {
  grid-area: nav;
  width: 100%;
  height: 100%;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header > div #nav-container #nav-div-container {
  display: flex;
  width: 100%;
  height: 100%;
}
header > div #nav-container #nav-div-container .navdiv {
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
}
header > div #nav-container #nav-menu-container {
  display: grid;
  position: absolute;
  z-index: 5;
  grid-template-rows: 32% 68%;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  height: 100%;
  grid-template-areas: "row1" "row2";
}
header > div #nav-container #nav-menu-container #nav-menu-row-1 {
  grid-area: row1;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
}
header > div #nav-container #nav-menu-container #nav-menu-row-1 #nav-menu-row-1-text {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
header > div #nav-container #nav-menu-container #nav-menu-row-1 #nav-menu-row-1-text #menurow1link1:hover {
  color: #E8FC53;
}
header > div #nav-container #nav-menu-container #nav-menu-row-1 #nav-menu-row-1-text #menurow1link2:hover {
  color: #EB3223;
}
header > div #nav-container #nav-menu-container #nav-menu-row-1 #nav-menu-row-1-text #menurow1link3:hover {
  color: #134092;
}
header > div #nav-container #nav-menu-container #nav-menu-row-1 #nav-menu-row-1-text .menurow1link {
  font-family: "Gothic A1", sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
}
@media (min-width: 768px) {
  header > div #nav-container #nav-menu-container #nav-menu-row-1 #nav-menu-row-1-text .menurow1link {
    font-size: 20px;
  }
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 {
  grid-area: row2;
  display: grid;
  grid-template-columns: 50% 30% 20%;
  grid-template-areas: "shortstories poetry currentissue";
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories {
  grid-area: shortstories;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-areas: "row1" "row2";
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories #nav-menu-row-2-short-stories-text-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  grid-area: row1;
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories #nav-menu-row-2-short-stories-text-container .fa-arrow-right {
  color: white;
  font-size: 20;
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories #nav-menu-row-2-short-stories-text-container #short-stories-text {
  font-family: "Gothic A1", sans-serif;
  font-size: 12;
  color: white;
  font-weight: lighter;
}
@media (min-width: 768px) {
  header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories #nav-menu-row-2-short-stories-text-container #short-stories-text {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories #nav-menu-row-2-short-stories-text-container #short-stories-text {
    font-size: 40px;
  }
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories #nav-menu-row-2-short-stories-img:hover {
  background-image: url(../img/menuimage-1-rollover.jpg);
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-short-stories #nav-menu-row-2-short-stories-img {
  grid-area: row2;
  background-image: url(../img/menuimage-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-poetry-container {
  grid-area: poetry;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-areas: "row1" "row2";
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-poetry-container #nav-menu-row-2-poetry-text-container {
  grid-area: row1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-poetry-container #nav-menu-row-2-poetry-text-container #poetry-text {
  font-family: "Gothic A1", sans-serif;
  font-size: 16px;
  color: white;
  font-weight: lighter;
}
@media (min-width: 768px) {
  header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-poetry-container #nav-menu-row-2-poetry-text-container #poetry-text {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-poetry-container #nav-menu-row-2-poetry-text-container #poetry-text {
    font-size: 35px;
  }
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-poetry-container #nav-menu-row-2-poetry-img:hover {
  background-image: url(../img/menuimage-2-rollover.jpg);
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-poetry-container #nav-menu-row-2-poetry-img {
  grid-area: row2;
  background-image: url(../img/menuimage-2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-current-issue-container {
  grid-area: currentissue;
  display: grid;
  grid-template-rows: 40% 60%;
  grid-template-areas: "row1" "row2";
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-current-issue-container #nav-menu-row-2-current-issue-text-container {
  grid-area: row1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-current-issue-container #nav-menu-row-2-current-issue-text-container #poetry-text2 {
  font-family: "Gothic A1", sans-serif;
  color: white;
  font-weight: lighter;
  font-size: 12px;
}
@media (min-width: 768px) {
  header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-current-issue-container #nav-menu-row-2-current-issue-text-container #poetry-text2 {
    font-size: 16px;
  }
}
@media (min-width: 992px) {
  header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-current-issue-container #nav-menu-row-2-current-issue-text-container #poetry-text2 {
    font-size: 30px;
  }
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-current-issue-container #nav-menu-row-2-current-issue-img:hover {
  background-image: url(../img/menuimage-3-rollover.jpg);
}
header > div #nav-container #nav-menu-container #nav-menu-row-2 #nav-menu-row-2-current-issue-container #nav-menu-row-2-current-issue-img {
  grid-area: row2;
  background-image: url(../img/menuimage-3.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}
